* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark light;
}

.btn-facebook {
  display: inline-block;
  text-decoration: none;
  background-color: #263E99;
  color: #fff0ff;
  padding: .7em 3em;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  margin: .5em 0;
  cursor: pointer;
}
